<footer class="main-footer">
	<section class="footer-section">
		<span><b>ABN</b>: 00 000 000 000</span>
		<span><b>Email</b>: JSBKAnga@outlook.com</span>
		<span><b>Ph</b>: 04 0922 7595</span>
	</section>
	<section class="footer-section">
		<a href="/contact" class="btn">Request a Quote!</a>
	</section>
	<section class="footer-section">
		Developed by Curtis Fulton
	</section>
</footer>