<header class="nav-bar">
	<h1 class="nav-title">JSB Kanga</h1>
	<nav class="main-nav">
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/gallery">Gallery</a>
		<a href="/contact">Contact Us</a>
	</nav>
</header>