<!DOCTYPE html>
<html>
<head>
	<title>JSB - Kanga</title>
	<% include ./partials/head.ejs %>
</head>
<body>	
	<% include ./partials/header.ejs %>

	<main class="main-container">
		<section class="our-company">
			<div class="center-content">
				<h1>Our Company</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</section>

		<section class="about-me">
			<div class="center-content">
				<h1>About Me</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</section>


		<section class="testimonies">
			<div class="center-content">
				<h1>Testimonies</h1>
				<blockquote>"If you are looking for a hard working, reliable man then Scott is your man. We needed some rock taken away and the ground levelled, Scott came in and got the job done. Fast ,efficient, reliable and highly recommend." - Kyryn Ortiz</blockquote>
			</div>
		</section>
	</main>

	<% include ./partials/footer.ejs %>
</body>
</html>