<!DOCTYPE html>
<html>
<head>
	<title>JSB - Kanga</title>
	<% include ./partials/head.ejs %>
</head>
<body>	
	<% include ./partials/header.ejs %>

	<main class="main-container">
		<section class="our-company">
			<div class="center-content">
				<h1>Our Company</h1>
				<p>
					JSB Kanga is a small family owned business.  
					The family consists of Scott whom is the main operator, his wife Jodie whom handles the administration side and their 2 daughters Abbey and Brooke.  
					We have been in business for 3 years and growing stronger each day.  
					We take pride in all our services we provide and our customers are our number one priority.  We focus highly on quality and our reviews and feedback reflect this.
				</p>
			</div>
		</section>

		<section class="about-me">
			<div class="center-content">
				<h1>Our Services</h1>
				<p>
					JSB Kanga specialises in a broad range of services.  Some of which include:
					<ul class="all-services">
						<li class="service-item">Turf preps</li>
						<li class="service-item">Trenching</li>
						<li class="service-item">Post Holes</li>
						<li class="service-item">Rotary Hoe</li>
						<li class="service-item">Removal of existing Garden Beds/Retainer Walls</li>
						<li class="service-item">Ripper/Scraper</li>
						<li class="service-item">Aerator</li>
						<li class="service-item">Yard Levelling</li>
					</ul>
					<p>No Job is too small and if service isn’t listed please call as I can provide a no obligation quote.</p>
				</p>
			</div>
		</section>


		<section class="testimonies">
			<div class="center-content">
				<blockquote>CHECK OUT JSB KANGA ON FACEBOOK TO READ PAST CLIENT REVIEWS AND SERVICES WHICH CAN BE PROVIDED.</blockquote>
				<blockquote><a href="https://www.facebook.com/JSBKanga/">JSB Kanga</a></blockquote>
			</div>
		</section>
	</main>

	<% include ./partials/footer.ejs %>
</body>
</html>