<!DOCTYPE html>
<html>
<head>
	<title>JSB - Kanga</title>
	<% include ./partials/head.ejs %>
</head>
<body>	
	<% include ./partials/header.ejs %>

	<main class="main-container ">
		<section class="gallery-container">
			<h1>Gallery</h1>
			<div class="gallery-imgs">
				<a href="#"><img src="/images/excavator.jpg" class="gallery-img"></a>
				<a href="#"><img src="/images/excavator.jpg" class="gallery-img"></a>
				<a href="#"><img src="/images/excavator.jpg" class="gallery-img"></a>
				<a href="#"><img src="/images/excavator.jpg" class="gallery-img"></a>
			</div>
		</section>
		<section class="gallery-container">
			<h1>Before and Afters</h1>
			<div class="gallery-imgs">
				<a href="#"><img src="/images/excavator.jpg" class="gallery-img"></a>
				<a href="#"><img src="/images/excavator.jpg" class="gallery-img"></a>
				<a href="#"><img src="/images/excavator.jpg" class="gallery-img"></a>
				<a href="#"><img src="/images/excavator.jpg" class="gallery-img"></a>
				<a href="#"><img src="/images/excavator.jpg" class="gallery-img"></a>
			</div>
		</section>
	</main>

	<% include ./partials/footer.ejs %>
</body>
</html>