<!DOCTYPE html>
<html>
<head>
	<title>JSB - Kanga</title>
	<% include ./partials/head.ejs %>
</head>
<body>	
	<% include ./partials/header.ejs %>

	<section class="showcase"></section>
	<main class="main-container">
		<div>
			<h1 class="strike-through">Our Services</h1>
			<ul class="services">
				<li class="service-item">Turf preparation</li>
				<li class="service-item">Trenching</li>
				<li class="service-item">Post hole drilling</li>
				<li class="service-item">Yard levelling</li>
				<li class="service-item">Tip truck</li>
				<li class="service-item">General yard maintenance</li>
			</ul>
		</div>

		<div>
			<h1 class="strike-through">Our Equipment</h1>
			<div class="equipment-item">
				<img class="equipment-img" src="/images/excavator.jpg">
				<section class="equipment-info">
					<h1>Excavator</h1>
					<ul class="info-list">
						<li class="info-item">820mm Wide</li>
						<li class="info-item">Auger (100mm)</li>
						<li class="info-item">Auger extention</li>
					</ul>
				</section>
			</div>
			<div class="equipment-item">
				<img class="equipment-img" src="/images/kanga-kid.jpg">
				<section class="equipment-info">
					<h1>Kanga</h1>
					<ul class="info-list">
						<li class="info-item">1050mm Wide</li>
						<li class="info-item">4 in 1 bucket</li>
					</ul>
				</section>
			</div>
			<div class="equipment-item">
				<img class="equipment-img" src="/images/kanga-kid.jpg">
				<section class="equipment-info">
					<h1>Kanga kid</h1>
					<ul class="info-list">
						<li class="info-item">800mm Wide</li>
						<li class="info-item">4 in 1 bucket</li>
					</ul>
				</section>
			</div>
			<div class="equipment-item">
				<img class="equipment-img" src="/images/tip-truck.jpg">
				<section class="equipment-info">
					<h1>Extras</h1>
					<ul class="info-list">
						<li class="info-item">Tip Truck</li>
						<li class="info-item">Concrete saw</li>
					</ul>
				</section>
			</div>
		</div>
	</main>

	<% include ./partials/footer.ejs %>
</body>
</html>