<!DOCTYPE html>
<html>
<head>
	<title>JSB - Kanga</title>
	<% include ./partials/head.ejs %>
</head>
<body>	
	<% include ./partials/header.ejs %>

	<section class="showcase"></section>
	<main class="main-container">
		<div>
			<h1 class="strike-through">Our Services</h1>
			<ul class="services">
				<li class="service-item">Turf Preparation</li>
				<li class="service-item">Trenching</li>
				<li class="service-item">Post Hole Drilling</li>
				<li class="service-item">Yard levelling</li>
				<li class="service-item">Garen Bed/Retainer Wall Removal</li>
				<li class="service-item">Lawn Aerator</li>
			</ul>
		</div>

		<div>
			<h1 class="strike-through">Our Equipment</h1>
			<div class="equipment-item">
				<img class="equipment-img" src="/images/excavator.jpg">
				<section class="equipment-info">
					<h1>Excavator</h1>
					<ul class="info-list">
						<li class="info-item">1000mm - 1250mm Wide</li>
						<li class="info-item">Auger</li>
					</ul>
					<p>This machine is 1250 wide and also has the capability to reduce its size to 1 metre wide.  There is not much this machine can’t do!!</p>
				</section>
			</div>
			<div class="equipment-item">
				<img class="equipment-img" src="/images/Kanga-mini-loader.jpg">
				<section class="equipment-info">
					<h1>Kanga</h1>
					<ul class="info-list">
						<li class="info-item">1050mm Wide</li>
						<li class="info-item">4 in 1 bucket</li>
					</ul>
					<p>The mini loader is 1050 wide.  It can cater for a wide range of services.</p>
				</section>
			</div>
			<div class="equipment-item">
				<img class="equipment-img" src="/images/kanga-kid.jpg">
				<section class="equipment-info">
					<h1>Kanga kid</h1>
					<ul class="info-list">
						<li class="info-item">800mm Wide</li>
						<li class="info-item">4 in 1 bucket</li>
					</ul>
					<p>This machine is great for all those tight access jobs being only 800mm wide.  This machine has a 4 in 1 bucket, suitable for post hole drilling, trenching etc</p>
				</section>
			</div>
			<div class="equipment-item">
				<img class="equipment-img" src="/images/tip-truck.jpg">
				<section class="equipment-info">
					<h1>2T Canter Tipper Truck</h1>
					<p>With this truck it completes our range of services as we are also able to cater for the removal/delivery of soil and products</p>
				</section>
			</div>
		</div>
	</main>

	<% include ./partials/footer.ejs %>
</body>
</html>