<!DOCTYPE html>
<html>
<head>
	<title>JSB - Kanga</title>
	<% include ./partials/head.ejs %>
</head>
<body>	
	<% include ./partials/header.ejs %>

	<main class="main-container">
		<section class="center-content">
			<p>Thank you for submitting a quote. We will get back to you when we can.</p>
		</section>
	</main>

	<% include ./partials/footer.ejs %>
</body>
</html>